<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @hydramata_group.name %>
</p>

<%= link_to 'Edit', edit_hydramata_group_path(@hydramata_group) %> |
<%= link_to 'Back', hydramata_groups_path %>
