<!DOCTYPE html>
<html>
<head>
  <title>Hydramata::Institution</title>
  <%= stylesheet_link_tag    "hydramata/institution/application", media: "all" %>
  <%= javascript_include_tag "hydramata/institution/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
