<% if defined?(hydramata_deposit) %>
  <div class="btn-group add-content">
    <%= link_to hydramata_deposit.choose_a_work_type_path, id: "add-content", class: "btn btn-primary dropdown-toggle", data: { toggle: "dropdown"} do %>
      <span class="icon icon-white icon-plus"></span><span class="visuallyhidden">Add</span>
    <% end %>
    <ul class="dropdown-menu quick-create">
      <li>
        <strong class="menu-heading item-with-options">Add a Work</strong>
        <ul class="item-options quick-classify">
          <% Hydramata.configuration.deposit.new_form_for.keys.each do |work_type| %>
            <li><%= link_to(
                  "New #{work_type.to_s.titleize}",
                  hydramata_deposit.new_work_path(work_type: work_type.to_s),
                  class: "item-option contextual-quick-classify new-article",
                  role: 'menuitem'
                ) %>
            </li>
          <% end %>
          <li><%= link_to 'More Options', '#', class: 'item-option link-to-full-list', role: 'menuitem' %></li>
        </ul>
      </li>
      <li class="divider"></li>
      <li><%= link_to 'Add a Collection',  "#", class: 'menu-heading new-collection', role: 'menuitem' %></li>
    </ul>
  </div>
<% end %>