        <div class="container">
          <div id="title-bar" class="row">
            <div id="site-search" class="span4">

            </div>

            <div id="site-title" class="span4">
              <h1><%= link_to t('hydramata.product_name'), root_path, id: 'home-link' %></h1>
            </div>

            <nav id="site-actions" class="span4" role="menu">
              <%= render 'shared/site_actions' %>
            </nav>
          </div>
        </div>

